version: '3.8'

services:
  # Unit Test Service
  unit-tests:
    build:
      context: ./
      dockerfile: Dockerfile.tests
    volumes:
      - ./test-results:/src/test-results
    environment:
      - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
    networks:
      - test-network

networks:
  test-network:
    driver: bridge
